<div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>About us</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="home">Home</a></li>
                        
                        <li class="active">About</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


<section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                
                   
<blockquote >
        <h4>Food is our common ground, a universal experience.</h4>
            <small><cite title="Source Title">James Beard </cite></small>
</blockquote>
<div class="wp-block hero base col-md-6">
    <div class="thmb-img">
        <i class="fa fa-question"></i>
    </div>

    <h2>The Big Problem</h2>
    <p class="text-center">It’s almost a daily and a troubling affair to see so many people around you, strive on one meal a day or no meal at all. Makes you wonder if there is enough food for everyone. In fact there is!</p>

    <p class="text-center">Everyday tons of edible food is thrown away by restaurants, organizations and individual households. This food goes straight into the dumps and left to decompose.  And for a slight moment to even think we do not have enough food for everyone is a cardinal sin. So to confront this injustice of food waste and hunger we attempt to create a bridge between the two thriving social issues.</p>
</div>

<div class="wp-block hero base col-md-6">
    <div class="thmb-img">
        <i class="fa fa-lightbulb-o"></i>
    </div>

    <h2>The Big Solution</h2>
    <p class="text-center">We are a platform for food distribution and collection. We route you to the nearest restaurant or an organization to collect full square meals and excess food. This food is then redistributed to the hungry by various Non-Profits.</p>
    <p class="text-center">Everyday tons of edible food is thrown away by restaurants, organizations and individual households. This food goes straight into the dumps and left to decompose.  And for a slight moment to even think we do not have enough food for everyone is a cardinal sin. </p><br/><br/>
</div>
<div class="row-fluid">
    <div class="col-md-4 wp-block hero no-space arrow-right base no-margin">
        <div class="wp-block-body base">
            <div class="thmb-img">
                <i class="fa fa-globe"></i>
            </div>
            <h1>Donation Posted</h1>
            <p class="text-center">Donor posts a donation with Giving Food</p>
        </div>
    </div>
    <div class="col-md-4 wp-block hero  no-space arrow-right base no-margin">
        <div class="wp-block-body base">
            <div class="thmb-img">
                <i class="fa fa-truck"></i>
            </div>
            <h1>Books the Donation</h1>
            <p class="text-center">In need books the donation</p>
        </div>
    </div>
    <div class="col-md-4 wp-block hero base no-space base no-margin">
        <div class="wp-block-body base">
            <div class="thmb-img">
                <i class="fa fa-share"></i>
            </div>
            <h1>Happy moments shared</h1>
            <p class="text-center">Thanks giving and sharing happy moments</p>
        </div>
    </div>
</div>
<div class="wp-block hero  ">
    

</div>

<div class="wp-block hero base ">
    <div class="thmb-img">
        <i class="fa fa-thumbs-up"></i>
    </div><br/>

    <h2>Spread the Word. Share Food Now!</h2><br/>
    <p class="text-center">Just drop us an email to info@givingfood.co, and we will get back to you for more information.
    </p>
    <p class="text-center">You can also fill the contact form in the contact us page</p>
</div>
</div>
</div>


