<div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h2></h2>
                </div>
              
            </div>
        </div>
    </div>
<div class="row-fluid">
    <div class="col-md-4 wp-block hero no-space arrow-right base no-margin">
        <div class="wp-block-body base">
            <div class="thmb-img">
                <i class="fa fa-globe"></i>
            </div>
            <h1>Donation Posted</h1>
            <p class="text-center">Donor posts a donation with Giving Food</p>
        </div>
    </div>
    <div class="col-md-4 wp-block hero  no-space arrow-right base no-margin">
        <div class="wp-block-body base">
            <div class="thmb-img">
                <i class="fa fa-truck"></i>
            </div>
            <h1>Books the Donation</h1>
            <p class="text-center">In need books the donation</p>
        </div>
    </div>
    <div class="col-md-4 wp-block hero base no-space base no-margin">
        <div class="wp-block-body base">
            <div class="thmb-img">
                <i class="fa fa-share"></i>
            </div>
            <h1>Happy moments shared</h1>
            <p class="text-center">Thanks giving and sharing happy moments</p>
        </div>

    </div>
</div>
 <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h2>Food Donation Counter</h2>
                </div>
              
            </div>
        </div>
    </div>

 <section class="slice light-gray bb">
        <div class="wp-section light">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-4">
                        <div class="milestone-counter">
                            <div class="milestone-count c-base" data-from="0" data-to="6" data-speed="5000" data-refresh-interval="50"></div>
                            <h4 class="milestone-info c-gray">Donors</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="milestone-counter">
                            <div class="milestone-count c-base" data-from="0" data-to="32" data-speed="3000" data-refresh-interval="100"></div>
                            <h4 class="milestone-info c-gray">Donations</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="milestone-counter">
                            <div class="milestone-count c-base" data-from="0" data-to="289" data-speed="5000" data-refresh-interval="80"></div>
                            <h4 class="milestone-info c-gray">People Fed</h4>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>

 <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h2>Upcoming Donations</h2>
                </div>
              
            </div>
        </div>
    </div>


    <section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    	<!-- Standard image post example -->
                    	<div class="post-item style2">
                    		<div class="post-meta hidden-xs">
	                    		<div class="date">
	                    			<span class="icon"><i class="fa fa-calendar"></i></span>
	                    			<span class="month">Aug</span>
	                    			<span class="day">23</span>
	                    		</div>
	                    		<div class="like-box">
	                    			<a href="#" class="btn btn-block btn-xs btn-base btn-icon btn-heart">
	                    				<span>Share</span>
	                    			</a>
	                    		</div>
	                    		
                    		</div>
                    		<div class="post-content-wr">
		                        <div class="post-meta-top">
		                          
		                            <h2 class="post-title">
		                            	<a href="#">Share Food - Festival</a>
		                            </h2>
		                        </div>
		                          
		                        <div class="post-content clearfix">
		                            <div class="post-tags">Posted by <a href="#">Jai-Mahal Restaurant</a>, Bangalore<a href="#"></a></div>
		                            <div class="post-comments"><strong>5</strong>OPEN</div>
		                            <div class="post-desc">
		                                <p>Food Donations are open on 23rd August by Jai-Mahal Restaurant. Donations would happen at the base location from 11:00 AM.</p>
		                            </div>
		                        </div>
		                        <div class="post-meta-bot clearfix">
		                            <span class="post-author">Posted at <a href="#">20/08/2015</a></span>
		                            <a href="#" class="btn btn-sm btn-base">Apply</a>
		                        </div>
		                    </div>
	                    </div>

	                   <!-- Standard image post example -->
                    	<div class="post-item style2">
                    		<div class="post-meta hidden-xs">
	                    		<div class="date">
	                    			<span class="icon"><i class="fa fa-calendar"></i></span>
	                    			<span class="month">Aug</span>
	                    			<span class="day">28</span>
	                    		</div>
	                    		<div class="like-box">
	                    			<a href="#" class="btn btn-block btn-xs btn-base btn-icon btn-heart">
	                    				<span>Share</span>
	                    			</a>
	                    		</div>
	                    		
                    		</div>
                    		<div class="post-content-wr">
		                        <div class="post-meta-top">
		                            
		                            <h2 class="post-title">
		                            	<a href="#">Feed The Hungry - A KFC Campaign</a>
		                            </h2>
		                        </div>
		                        <div class="post-content clearfix">
		                            <div class="post-tags">Posted by <a href="#">KFC</a>, Bangalore<a href="#"></a></div>
		                            <div class="post-comments"><strong>8</strong>OPEN</div>
		                            <div class="post-desc">
		                                <p>Food Donations are open on 23rd August by KFC, Bangalore. Donations would happen at the base location from 12:00 PM.  </p>
		                            </div>
		                        </div>
		                        <div class="post-meta-bot clearfix">
		                            <span class="post-author">Posted at <a href="#">20/08/2015</a></span>
		                            <a href="#" class="btn btn-sm btn-base">Apply</a>
		                        </div>
		                    </div>
	                    </div>

	                  <!-- Standard image post example -->
                    	<div class="post-item style2">
                    		<div class="post-meta hidden-xs">
	                    		<div class="date">
	                    			<span class="icon"><i class="fa fa-calendar"></i></span>
	                    			<span class="month">Sep</span>
	                    			<span class="day">4</span>
	                    		</div>
	                    		<div class="like-box">
	                    			<a href="#" class="btn btn-block btn-xs btn-base btn-icon btn-heart">
	                    				<span>Share</span>
	                    			</a>
	                    		</div>
	                    		
                    		</div>
                    		<div class="post-content-wr">
		                        <div class="post-meta-top">
		                            
		                            <h2 class="post-title">
		                            	<a href="#">Accenture CSR Food Campaign</a>
		                            </h2>
		                        </div>
		                        <div class="post-content clearfix">
		                            <div class="post-tags">Posted by <a href="#">Accenture</a>, Bangalore<a href="#"></a></div>
		                            <div class="post-comments"><strong>21</strong>OPEN</div>
		                            <div class="post-desc">
		                                <p>Food Donations are open on 23rd August by Accenture. Donations would happen at the base location from 1:00 PM.  </p>
		                            </div>
		                        </div>
		                        <div class="post-meta-bot clearfix">
		                            <span class="post-author">Posted at <a href="#">20/08/2015</a></span>
		                            <a href="#" class="btn btn-sm btn-base">Apply</a>
		                        </div>
		                    </div>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
