<section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    	<div class="post-item">
	                        <div class="post-meta-top">
	                            
	                        </div>
	                        <div class="post-content">
	                            <h2 class="post-title"><a href="#" hidefocus="true" style="outline: none;">PRIVACY POLICY</a></h2>
	                            <span class="post-author">WRITTEN BY <a href="#" hidefocus="true" style="outline: none;">FoodGiving Team</a></span>
	                            <div class="post-tags">Posted in <a href="#" hidefocus="true" style="outline: none;">15/10/2015</a></div>
	                            
	                            <div style="position: right; width: 100%; height: 10px; background: #ffffff;">
                                        <div class="ribbon base"><span>Updated 15/10/2015</span></div>
                                    </div>

	                            <div class="post-desc">
                                    <p>Your use of the Website and the FoodGiving Service is subject to the terms and conditions set forth in this Privacy Policy (the "Privacy Policy").
                                    </p>
                                    <p><b>PLEASE READ THIS PRIVACY POLICY CAREFULLY. BY ACCESSING OR USING OUR WEBSITE OR THE FOODGIVING SERVICE, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTAND, AND AGREE TO BE BOUND TO ALL THE TERMS OF THIS PRIVACY POLICY AND OUR WEBSITE TERMS OF SERVICE. IF YOU DO NOT AGREE TO THESE TERMS, EXIT THIS PAGE AND DO NOT ACCESS OR USE THE WEBSITE OR THE FOODGIVING SERVICE.</b></p>

	                            	<p>
                                    This Privacy Policy explains Material Impact, (within, “FoodGiving”) privacy practices for the FoodGiving website, and other services (collectively, the “Service”). In order to provide you (the “user”, or “you”) with access to the Service, FoodGiving is required to collect several types of information about you that allow you to be personally identified (“Personal Information”). <p></p>
                                    This Privacy Policy explains how FoodGiving collects, uses, shares, and protects such Personal Information. In addition, please review our User Agreement, which applies to your use of the Service. This Privacy Policy is incorporated by reference into the User Agreement. If you do not agree to this Privacy Policy, do not use the Service or provide FoodGiving with any of your information. By accessing the Service, you acknowledge that you have read, understand, and agree to the terms of this Privacy Policy.
                                    </p><br/>
                                    <h6>TYPES OF DATA WE COLLECT:</h6>
                                    <p><b><br/>
                                    Information that You Provide to Us:</b> In order to facilitate use of the Service, FoodGiving and its third party service providers collect several types of personal information from you, including, without limitation, your name, email address, telephone number, the name and type of your business, and your business address and website (“Account”). Further, some users may be required to input additional information to confirm nonprofit taxation status.
                                    </p>
                                    <p><b>
                                    Information from Your Use of the Service: </b>When you use the Service, there are several types of information that FoodGiving and its third party service providers collect from you. These include, without limitation, information about other users with whom you interact on the Service, the timing of those communications, your product listings, and transactions that you conduct on or in connection with the Service. FoodGiving may also automatically collect, and is able to view, information about your computer hardware and software and mobile device. This information may include, without limitation: your IP address, geographical information (including GPS coordinates), browser type, device identifiers, mobile network information, domain names, access times and referring website addresses. FoodGiving also temporarily collects cookies from individual users. Cookies are data files placed on the user’s device when the user accesses the Service. These cookies serve a number of functions such as tracking use of the Service and improving the user experience. You should be aware that FoodGiving cannot control the use of cookies (or information derived from such use) by third parties, and use of third party cookies is not covered by our Privacy Policy. Our advertising partners may use cookies on our Services, which allows them to recognize a user’s cookie when a user uses the Services. The information that our advertising partners collect and share through this technology is not Personal Information.
                                    </p>
                                    <p class="highlight"><b>
                                    Information from your Application: </b>The Service is primarily powered through use of a web application. FoodGiving and its third party service providers may collect technical information about your device, operating system, and software in order to facilitate use of the Service and provide product updates.
                                    </p><br />
                                    <h6>USER CONTROL OVER PERSONAL INFORMATION</h6>
                                   
                                    <p>
                                    FoodGiving understands the need for users to periodically change, update, or remove their information on the Service. As a user, you have the ability to edit your information through your Account settings. If you no longer wish to use the Service, you may also remove your Account. Note that if you no longer wish to have a product listing (which you have previously posted) be viewable on the Service, it is your responsibility to remove this product listing.
                                    <br />
                                    <h6>WHAT PERSONAL INFORMATION IS USED FOR</h6>
                                   
                                    <p>
                                    We collect your Personal Information to be used in a number ways. Foremost, we use this information in order to facilitate your use of the Service, respond to your inquiries, investigate user disputes or transactions, and manage your account information. Additionally, your Personal Information helps us to better understand the use of the Service in order to make improvements, run data analytics, and perform a number of internal business functions.
                                    </p>
<br />
                                    <h6>WHEN PERSONAL INFORMATION IS SHARED WITH THIRD PARTIES</h6>
                                   
                                   <p>
                                  We use a number of third party companies to facilitate the use of the Service, including hosting the Service, communicating with other users, providing additional functionality, tracking analytics, providing security, or performing other services. We may provide these service providers with access to user information, including Personal Information. Personal Information is only used to the extent needed for these third parties to provide their services, and they are obligated not to disclose or use Personal Information for any other purpose. We may also share your Personal Information with a third party if needed to fulfil a legal requirement. Uses of Personal Information to fulfil a legal obligation include, but are not limited to: satisfying a law or regulation, responding to a subpoena or government request, or as part of a legal proceeding. Further, Personal Information may be shared or disclosed in cooperation with law enforcement or another government agency in order to protect public safety. We do not sell, share, rent or trade the Personal Information we have collected about you, other than as disclosed within this Privacy Policy, the User Agreement or at the time you provide your information.</p><p> We do not share your Personal Information with third parties for those third parties' direct marketing purposes. If FoodGiving or the assets comprising the Services are acquired by a third party, FoodGiving may transfer your Personal Information to that third party, subject to the terms of this Privacy Policy and the User Agreement. We may create aggregated data or de-identified data derived from your Personal Information or otherwise regarding your use of our Services, in a manner that does not identify you, and share that aggregated or de-identified data with third parties. We reserve the right to disclose your Personal Information as required by law and when we believe that disclosure is necessary to protect our rights; to comply with a judicial proceeding, court order, or legal process served on FoodGiving; or in connection with an actual or proposed corporate transaction or insolvency proceeding involving all or part of the business or asset to which the information pertains.
                                    </p>
                                    <br />
                                    <h6>WHEN/HOW OTHER USERS CAN CONTACT YOU</h6>
                                   
                                    <p>
                                    Your personal contact information is not shared with other users until you confirm that you wish to enter into a transaction with another user to supply or receive goods (“Transaction Confirmation”). After a Transaction Confirmation, a user may be alerted with the other user’s business and contact information.
                                    </p>
                                   	<br />
                                    <h6>WHEN/HOW OTHER FOODGIVING CAN CONTACT YOU</h6>
                                   
                                    <p>
                                   FoodGiving may also contact you in a number of ways. Such contact will occur primarily through email but occasionally through telephone or physical mail. Your Account is required to have a valid email address that can be reached with information about the Service or other support. Certain emails, including notifications, confirmations, or correspondence with the FoodGiving support team are nonpromotional (“Administrative Material”). You cannot opt-out of receiving Administrative Material without removing your Account. We may also contact you with newsletters or promotional information (“Promotional Material”). When you register for an Account, you may be subscribed to such Promotional Material unless you choose to opt-out of such subscription. You can opt out of receiving Promotional Material by contacting the FoodGiving team.</p>


                                    <h6>HOW DATA IS SECURED</h6>
									<p>
                                    FoodGiving encrypts sensitive information and other personal information usingcommercially reasonable, industry-wide practices. However, no method of transmission or storage is completely secure, and we are unable to guarantee the security of your personal information.</p>
                                    <h6>DATA RETENTION</h6>
                                    <p>
                                    	FoodGiving will retain your Personal Information only as long as needed in order to provide the Service or as long as your Account is active. However, FoodGiving will also retain and use your information as long as needed to fulfil its legal obligations and enforce its agreements. You may inform the FoodGiving team about requests or changes related to your Personal Information, and we may update or delete your personal data accordingly.</p>
                                    	<h6>CHANGES TO PRIVACY POLICY</h6>
                                    <p>
                                    	FoodGiving will occasionally make changes to this policy, so please review it regularly. Any changes will be effective immediately upon the posting of the revised Privacy Policy. If we make any material changes, we will notify you by email (sent to the e-mail address specified in your Account) or by means of a notice on the Services prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices. Your continued use of the Service after these changes are implemented constitutes acceptance of these changes.
                                    </p>
                                    <h6>CHILDREN</h6>
                                    <p>
                                    	FoodGiving does not direct its services towards children under the age of 13, and we do not knowingly collect personal information from children under 13 years of age. If we discover that such information has been added by someone under the age of 13, we will delete this information. If you are under the age of 13, please do not use the Service or provide us with any personal information.
                                    </p>
                                    <h6>CHOICE, OPTING IN OR OUT</h6>
                                    <p>
                                    	We may provide you the opportunity to ‘opt-out’ of having your Personal Information used for certain purposes through your profile account page. You may also be provided with the opportunity to opt-in to certain uses of Personal Information not otherwise permitted by this Privacy Policy.
                                    </p>
                                    <h6>CONTACT US</h6>
                                    <p>
                                    	If you have any questions about your information or about this policy in general, please contact FoodGiving team at info@foodgiving.co.
                                    </p>
                                   
	                            </div>
	                        </div>
	                        <hr>

	                        <!-- Comments list section -->
	                        
                    	
	

    <!-- LATEST COMMENTS -->
   
    
	
	<!-- CALENDAR -->
   

    <!-- Date Picker - Init JS -->
    <script type="text/javascript">
        $(function(){            
            // Inline datepicker
            $('#dpInline').datepicker({
                dateFormat: 'dd.mm.yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>'
            });            
        });         
    </script>

    <!-- TABS -->
   
  
		</div>
		                    </div>
                </div>
            </div>
        </div>
    </section>