 <section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    	<div class="post-item">
	                        <div class="post-meta-top">
	                            
	                        </div>
	                        <div class="post-content">
	                            <h2 class="post-title"><a href="#" hidefocus="true" style="outline: none;">Terms &amp; Conditions</a></h2>
	                            <span class="post-author">WRITTEN BY <a href="#" hidefocus="true" style="outline: none;">GivingFood Team</a></span>
	                            <div class="post-tags">Posted in <a href="#" hidefocus="true" style="outline: none;">15/10/2015</a></div>
	                             <div style="position: right; width: 100%; height: 10px; background: #ffffff;">
                                        <div class="ribbon base"><span>Updated 15/10/2015</span></div>
                                    </div>
	                            <h5>USER AGREEMENT</h5>
	                            <div class="post-desc">
	                            	<p>
                                    These terms of use (“Agreement” or “User Agreement”) apply to access to, and use of, (the “Website”), and other features offered as part of the GivingFood service (collectively, the “Service”). Please review the terms described here carefully. By using the Service in any manner, you (the “user” or “you”) enter into a binding contract with GivingFood, whether or not you create a Food Giving account.</p>

                                    <p>Your use of the Service is dependent on your acceptance of these terms and all the terms and policies incorporated within. You must not use the Service if you do not agree to these terms, and your use of the Services means that you have read, understand and agree to be bound by these terms. This Agreement applies to all users of the Service, including without limitation users who are Food Suppliers, customers, Food Receivers, contributors of content, information and other materials or services. </p>

                                    <p>If you accept or agree to these terms on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to these terms and, in such event, “you” and “your” will refer and apply to that company or other legal entity.
                                    </p><br/>
                                    <h6>1 . DESCRIPTION OF SERVICES</h6>
                                    <p>

                                    a. The Service provides a platform that enables businesses and organizations (“Suppliers” or “Supplier”) to manage excess food and donate meals. The Service enables Suppliers with surplus food and full-plate meals (“Food Items”) to connect with organizations or individuals that are prepared to consume or redistribute such Food Items (“Receivers” or “Receiver”). Collectively, Suppliers and Receivers make up GivingFood’s customer base (“Customers”). You may be a Supplier and/or Receiver in connection with your use of the Services and, in either case; you are a “Customer” as such term is used here.
                                    </p>
                                    <p>


                                    b. GivingFood provides a platform for Suppliers and Receivers to connect. It is up to Customers to coordinate food transportation for transactions scheduled through use of the Service. GivingFood offers information and a method to communicate with other Customers, but does not provide transportation services or act in any way as a coordinator or transporter of Food Items or other goods. GivingFood has no responsibility or liability for the quality, timeliness, or reliability of Food Items or the transportation coordinated between Customers.
                                    </p>
                                    <p class="highlight">
                                    c. The Services may enable Customers to provide ratings and feedback regarding other Customers (“Ratings”).
                                    </p><br />
                                    <h6>2 . NO AGENCY; NO RESPONSIBILITY FOR FOOD ITEMS OR TRANSPORT</h6>
                                   
                                    <p>
                                    You and GivingFood are independent contractors, and no agency, partnership, joint venture, employee-employer or franchiser-franchisee relationship is intended or created by this agreement. The actual exchange of Food Items occurs between the Supplier and Receiver according to terms and conditions established by such Supplier and Receiver. GivingFood is not responsible for insuring any Customer or for the quality, safety, or legality of any aspect of the Food Items listed, the truth or accuracy of listings of Food Items, or the ability of Suppliers to provide Food Items or the ability of Receivers to receive Food Items.
                                    <br />
                                    <h6>3. REGISTRATION</h6>
                                   
                                    <p>
                                    In order to access the Service, you must create a GivingFood account. You agree to provide accurate, current, and complete information to your account as may be required by GivingFood from time to time. You will be responsible for the use and maintenance of the confidentiality of your login credentials and password and shall not share your login credentials or password with anyone else. You agree not to use the account, login credentials, or password of another user at any time, disclose your password to anyone else, or impersonate any person or entity. You agree to exit from your account at the end of each session and to immediately notify GivingFood of any unauthorized use of your password or account. You are solely responsible for any and all use of your account and for any actions that take place using your account. Failure to provide accurate and timely account information may result in your account being closed and/or your access to content provided through your account being suspended, discontinued, or removed. GivingFood reserves the right to disallow use of a login credentials or account information that is deemed offensive or inappropriate. All suggestions and comments you provide become the intellectual property of GivingFood.
                                    </p>
<br />
                                    <h6>4. ACCESS RIGHTS</h6>
                                   
                                   <p>
                                   a. Subject to your compliance with this User Agreement, GivingFood grants you limited,revocable, nonexclusive, non-assignable, non-sub licensable right to access the Service. Any rights not expressly granted herein are reserved by GivingFood. 
                                   </p><p>
                                   b. Without limiting any of the preceding terms, you may not 
                                   </p><p>
                                   i. modify, decompile or reverse engineer any software or hardware related to the Service, including the website; 
									</p><p>
                                   ii. Remove or alter any product identification, trademark, copyright or other notices related to the Service; 
									</p><p>
                                   iii. Use or allow the use of the website by or for the benefit of third parties, including by renting, leasing or lending the web applications; or
									</p><p>
                                   iv. Reproduce, sell, or distribute the web applications without GivingFood permission.
                                    </p>
                                    <br />
                                    <h6>5. USER CONTENT AND INTELLECTUAL PROPERTY</h6>
                                   
                                    <p>
                                    a. When you submit Ratings or other content as part of the Service (“posting” or “listing”), you grant GivingFood a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sublicensable (through multiple tiers) right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, make available to the public, and exercise any and all copyright, publicity, trademarks, database rights and other intellectual property rights you have in the content, both in any media now known or in the future. Further, to the fullest extent permitted under applicable law, you waive your moral rights and promise not to assert such rights or any other intellectual property or publicity rights against GivingFood, its sublicensees, or its assignees. Further, if you provide GivingFood with any suggestions or feedback regarding potential improvements or extensions to the Services (“Feedback”), you hereby grant to GivingFood a non-exclusive, perpetual, irrevocable, royalty-free, fully-paid, transferable, sublicensable (through one or more tiers) license to copy, use, modify and otherwise exploit such Feedback. 

                                    b. You represent and warrant that any posting and use of your information submitted to GivingFood shall be true, correct and complete and shall not infringe or violate the rights of any third party.
                                    </p>
                                   	<br />
                                    <h6>6. USER CONDUCT</h6>
                                   
                                    <p>
                                    a. You agree to comply with all applicable laws when using the Service, and to use the Service solely in a lawful manner and for lawful purposes. You shall not cause nuisance, annoyance, inconvenience, or property damage to any party in connection with your use of the Services or your interactions with other Customers arising from your use of the Services. You must accurately list Food Items, and for reading and understanding the description of Food Items before claiming a listing for such Food Items. </p><p>

                                    b. By using the Service in any manner, you are prohibited from: 
                                    </p><p>	
                                    i. using the Service if you have been temporarily or indefinitely suspended from GivingFood’s site, services, applications or tools; 
                                    </p><p>	
                                    ii. Manipulating or interfering with the listings or account of another user; 
                                    </p><p>	
                                    iii. Posting false, inaccurate, or misleading content; 
                                    </p><p>	
                                    iv. Transferring accounts without consent; 
                                    </p><p>	
                                    v. Distributing or posting malicious software such as viruses, time bombs, trojan horses, worms, or any other disruptive or harmful component; 
                                    </p><p>	
                                    vi. Distributing or posting spam, unsolicited or bulk electronic communications, chain letters, or pyramid schemes; 
                                    </p><p>	
                                    vii. Collecting information about users without their consent; </p><p>	
                                    viii. Web scraping, using spiders or otherwise using technical or robotic means to collect data from the Services;</p><p>	
                                    ix. Circumventing any technical measures used to provide the Service; </p><p>	
                                    x. Attempting to gain unauthorized access to any part of the Service, to other user's accounts, or to other networks or systems connected to the Service; </p><p>	
                                    xi. Interfering with the use of the Service by any other individual or party; </p><p>	
                                    xii. Soliciting or using personal identifying information for commercial or unlawful purposes from other users or disseminating another person’s personal information without his or her permission.
									</p><p>	
									c. If GivingFood believes or discovers that you are using the Service in any of the ways mentioned above, GivingFood may, in its sole discretion, take any steps to prevent and mitigate such abuse such as limiting, suspending, or terminating your user account(s) and access to the Service, delaying or removing hosted content, and taking technical and/or legal steps to prevent you from using the Service. 
									</p><p>	
									d. Inactive Accounts: GivingFood reserves the right, in its sole discretion, to cancel unconfirmed or inactive accounts. 
									</p><p>	
									e. GivingFood reserves the right to refuse service to anyone, for any reason, at any time. GivingFood may suspend or terminate provision of the Services at any time and for any or no reason.
                                    </p>

                                    <h6>7. SUPPLIER LISTING CONDITIONS</h6>
									<p>
                                    a. Suppliers using the Service are responsible for the accuracy and content of the listing and Food Items they offer. </p><p>	

                                    b. Suppliers are prohibited from listing prohibited content, including but not limited to, content that (is): </p><p>	
                                    i. fraudulent or involves the sale of illegal, counterfeit or stolen Food Items; </p><p>	
                                    ii. Links directly or indirectly, references or contains descriptions of goods or services that are prohibited by GivingFood, either in this agreement or any other agreement you enter into with GivingFood;</p><p>	
                                    iii. Hosts images that are not part of the listing;</p><p>	
                                    iv. Violates local, state, or Central food safety laws or standards; </p><p>	
                                    v. Includes any copyrighted material unless you own or control the copyright in and to such material; </p><p>	
                                    vi. Knowingly false and/or defamatory, profane, inaccurate, libelous, tortuous, abusive, vulgar, hateful, racist, bigoted, sexist, harassing, threatening, inflammatory, obscene, profane, sexually oriented, invasive of a person's privacy, or is otherwise objectionable or in violation of any applicable law, rule, or regulation; </p><p>	
                                    vii. violates or infringes the rights of any other party, including, without limitation, rights of privacy, rights of publicity, copyright, trademark, or other intellectual property rights; </p><p>	
                                    viii. Contains material that breaches another's privacy, i.e., phone numbers, addresses, or other personal information; </p><p>	
                                    ix. Contains spam, including, but not limited to, junk mail, chain letters, unsolicited bulk email or duplicative messages, excessive cross-postings, and material that is unrelated to the forum in which it is posted; </p><p>	
                                    x. Includes material that contains advertisements or commercial solicitations; or; </p><p>	
                                    xi. Includes material discussing illegal activities or linking to websites that deal with such activities.</p>
                                    <h6>8. RECEIVER CLAIMING CONDITIONS</h6>
                                    <p>
                                    	a. Receivers are responsible for reading and understanding full Food Item listings before making an offer or commitment to claim a Food Item.</p><p>
                                    	b. Customers, not GivingFood, are solely responsible for honouring any confirmed transactions and making available any products reserved through the application. If you, as a Receiver, choose to enter into a transaction with a Supplier for the transfer of Food Items, you agree and understand that you will be required to enter into an agreement with the Supplier containing terms, conditions, rules and restrictions mutually agreed by you and the Supplier. You acknowledge and agree that you, and not GivingFood, will be responsible for performing the obligations of any such agreements, that GivingFood is not a party to such agreements, and that, GivingFood disclaims all liability arising from or related to any such agreements.</p>
                                    	<h6>9. DISPUTES</h6>
                                    <p>
                                    	a. In the event a dispute arises between you and another user or a third party, GivingFood encourages you to contact the user or third party to resolve the dispute amicably. GivingFood has the right but no obligation to resolve disputes between users or between users and outside parties. To the extent that GivingFood attempts to resolve a dispute, GivingFood will do so in good faith based solely on GivingFood’s policies. GivingFood will not make judgments regarding legal issues or claims.<p></p>

                                    	b. You release GivingFood (and GivingFood officers, directors, agents, subsidiaries, joint ventures and employees) from any and all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with disputes with one or more users, or any other outside party.
                                    </p>
                                    <h6>10. DISCLAIMER OF LIABILITY</h6>
                                    <p>
                                    	a. You agree that the provisions of this section will survive any termination of your account or of the Services. <p></p>
                                    	b. You agree that your use of the Service is at your own risk, and that the Service is provided “AS IS” and “AS AVAILABLE.” <p></p>
                                    	c. GivingFood, its subsidiaries, officers, directors, and employees specifically disclaim any implied warranties of title, merchantability, performance, fitness for a particular purpose and non-infringement. GivingFood does not warrant that any information is complete or accurate, that the service will be uninterrupted or error free or that any information is free of viruses and/or rogue or malicious programming. In addition, no advice or information (oral or written) obtained by you from GivingFood shall create any warranty. <p></p>
                                    	d. GivingFood shall not be liable for any damages or losses (including, but not limited to, loss of money, goodwill or reputation, profits, or other intangible losses or any special, indirect, or consequential damages) resulting directly or indirectly from:<p></p>
                                    	i. your use of or your inability to use our Service; <p></p>
                                    	ii. Guidance given to you by GivingFood; <p></p>
                                    	iii. Errors or delays associated with the Service; <p></p>
                                    	iv. Inaccuracies in the Service; <p></p>
                                    	v. Damages to your computer or other device from use of the Service; <p></p>
                                    	vi. Any Food Item;<p></p>
                                    	vii. The content, actions, or inactions of third parties; <p></p>
                                    	viii. Any disciplinary action taken with your account; <p></p>
                                    	ix. The way that your products and account are displayed on the Service; <p></p>
                                    	x. Your need to modify practices, content, or behaviour or your loss of or inability to do business, as a result of changes to this User Agreement or GivingFood’s policies.
                                    </p>
                                    <h6>11. INDEMNIFICATION</h6>
                                    <p>
                                    	You agree to defend and indemnify GivingFood and its owners, shareholders, subsidiaries,affiliates, officers, employees, partners, and licensees, and hold them harmless from any and all claims and expenses, including attorney's fees, arising from or related in any way to your use of GivingFood services, any breach of this user agreement, any food items, or failure to abide by applicable law.
                                    </p>
                                    <h6>12. SEVERABILITY</h6>
                                    <p>
                                    	If any portion of these terms is found to be invalid or unenforceable, the remaining portions of the terms shall continue to be valid; provided, however, that a court having jurisdiction may revise such provision to the extent necessary to make such provision valid and enforceable consistent with GivingFood’s original intention.
                                    </p>
                                    <h6>13. CONFIDENTIALITY</h6>
                                    <p>
                                    	GivingFood agrees to use a commercially reasonable level of care to preserve the confidentiality of any user information that is provided to GivingFood as the result of the user’s access to and use of the Service. All user information is subject to GivingFood’s Privacy Policy.
                                    </p>
                                    <h6>14. ENTIRE AGREEMENT</h6>
                                    <p>
                                    	The User Agreement, the User Privacy Notice, and all current GivingFood policies set forth the entire understanding and agreement between you and GivingFood and supersede all prior understandings and agreements of the parties.
                                    </p>
                                    <h6>15. CHANGES TO THE AGREEMENT</h6>
                                    <p>
                                    	GivingFood reserves the right, at its sole and absolute discretion, to change, modify, add to, supplement or delete any of the terms and conditions of this Agreement, effective with or without prior notice. Your continued use of the Service following your receipt of any revision to this Agreement constitutes your acceptance of any and all such changes, solely with respect to the time period after the date of such changes.
                                    </p>
                                    <h6>16. WAIVER AND CONFLICT</h6>
                                    <p>
                                    	The failure of GivingFood to exercise or enforce any right or provision in this User Agreement shall not operate as a waiver. As it relates to the Services, if there is ever a conflict between this User Agreement and any other terms or policies, then this User Agreement will control.
                                    </p>
                                    <h6>17. APPLICABLE LAW</h6>
                                    <p>
                                    	These Terms of Use are governed by the laws of India. Any action, suit, or other legal proceeding, which is commenced to resolve any matter arising under or relating to this website, shall be subject to the jurisdiction of the courts at Bangalore, India.
                                    </p>
                                    <h6>18. TERMINATION</h6>
                                    <p>
                                    	This Agreement will remain in full force and effect while you use the Service and/or have a GivingFood account. You may terminate your license to the Service by providing written notice to GivingFood. Notwithstanding any of the preceding terms, GivingFood reserves the right, without notice and in its sole discretion, to terminate your license to use the Service and block or prevent your future access to, and use of, the Service. After your account is terminated for any reason, all terms of this User Agreement survive such termination, and continue in full force and effect, except for any terms that by their nature expire or are fully satisfied.
                                    </p>
	                            </div>
	                        </div>
	                        <hr>

	                        <!-- Comments list section -->
	                        
                    	
	

    <!-- LATEST COMMENTS -->
   
    
	
	<!-- CALENDAR -->
   

    <!-- Date Picker - Init JS -->
    <script type="text/javascript">
        $(function(){            
            // Inline datepicker
            $('#dpInline').datepicker({
                dateFormat: 'dd.mm.yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>'
            });            
        });         
    </script>

    <!-- TABS -->
   
  
		</div>
		                    </div>
                </div>
            </div>
        </div>
    </section>