<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="col">
                       <h4>Contact us</h4>
                       <ul>
                            
                            <li>Phone: +91 9739069029</li>
                            <li>Email: <a href="mailto:contact@givingfood.in" title="Email Us">contact@givingfood.in</a></li>
                            <li>Skype: <a href="skype:my.business?call" title="Skype us">GivingFood</a></li>
                            <li>Share Food. Spread Smiles</li>
                        </ul>
                     </div>
                </div>
                
                <div class="col-md-3">
                    <div class="col">
                        <h4>Mailing list</h4>
                        <p>Sign up if you would like to receive occasional treats from us.</p>
                        <form class="form-horizontal form-light">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Your email address...">
                                <span class="input-group-btn">
                                    <button class="btn btn-base" type="button">Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="col col-social-icons">
                        <h4>Follow us</h4>
                        <a href="http://facebook.com/givingfood"><i class="fa fa-facebook"></i></a>
                       
                        <a href="http://twitter.com/givingfood"><i class="fa fa-twitter"></i></a>
                        
                    </div>
                </div>

                 <div class="col-md-3">
                    <div class="col">
                        <h4>About us</h4>
                        <p class="no-margin">
                        Just drop us an email to info@givingfood.co, and we will get back to you for more information.
                        You can also fill the contact form in the contact us page
                        <br><br>
                        
                        </p>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <div class="row">
                <div class="col-lg-9 copyright">
                    2015 © GivingFood. All rights reserved.
                    <a href="terms">Terms and conditions</a>
                </div>
                
            </div>
        </div>
    </footer>


      