<footer class="footer">

	<div class="container">
            <div class="row">

<ul>
<div class="col-md-2">
<li><%= link_to "Terms & Conditions", terms_path %></li></div>
<div class="col-md-2">
<li><%= link_to "Privacy Policy", privacy_path %></li></div>
<div class="col-md-2">
<li><a href="http://facebook.com">Facebook</a></li></div>
<div class="col-md-2">
<li><a href="http://twitter.com">Twitter</a></li></div>
<div class="col-md-4 text-right">
<li><a href="terms">2015 © Food Giving. All rights reserved.</a></li></div>
</ul> </div></div>
<br />

</footer>

      