<header>
<section id="navMobile" class="aside-menu left">
    <form class="form-horizontal form-search">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button id="btnHideMobileNav" class="btn btn-close" type="button" title="Hide sidebar"><i class="fa fa-times"></i></button>
            </span>
        </div>
    </form>
    <div id="dl-menu" class="dl-menuwrapper">
        <ul class="dl-menu"></ul>
    </div>
</section> 





         <!-- HEADER -->
        <div id="divHeaderWrapper">
            <!-- HEADER: Standard 1 example - includes a top header (logo + buttons) and the main nav positioned under the top header -->
<header class="header-standard-2"> 

    <div class="navbar navbar-fixed navbar-wp navbar-base navbar-arrow mega-nav" data-spy="affix" data-offset-top="563" role="navigation">
        <div class="container">
            <div class="navbar-header">
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home" title="FoodGiving">
                    <img src="images/foodgiving.jpg" alt="FoodGiving">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">


                          
                  <li><%= link_to "Home", home_path %></li> 
           <li><%= link_to "About", about_path %></li> 
           <li><%= link_to "Contact", contact_path %></li> 
                    
                </ul>
               
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>        </div>

</header>